<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, <span th:text="${username}"></span>!</h2>
    <br>
    <div>
    <button>Get the Task of the day</button>
    <br>
    <button>Create Task</button>
    <br>
    <button>Delete Task</button>
    <br>
    <button>Show All Tasks</button>
    <br>
    <button>Show Uncompleted Tasks</button>
    <br>
    <button>Show Completed Tasks</button>
    <br>
    <button>Show Wishlisted Tasks</button>
    <br>
    <button>Get Rated Task</button>
    <br>
    </div>
</body>
</html>